@model WebApplicationFinal.Models.Apartment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bedroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bedroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bathroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bathroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Squarefeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Squarefeet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Building.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyManager.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyManager.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status1.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status1.StatusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApartmentNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
