@model WebApplicationFinal.Models.Leas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Leas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apartment.ApartmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment.ApartmentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status1.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status1.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tenant.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenant.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeaseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
